.shop{
  &__banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      width: 599px;
      height: 326px;
    }
    &__text{
      background: linear-gradient(90deg, #F6F8FC 0%, #F6F8FC 44.79%, #F5F7FA 74.48%, rgba(243, 239, 238, 0.00) 100%);
      width: 955px;
      height: 326px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -190px 0 0;
      img{
        margin: 0 0 -60px 27px;
        width: 420px;
        height: 69px;
      }
      h1{
        color: #000;
        font-family: Oswald,sans-serif;
        font-size: 39px;
        font-weight: 500;
        line-height: 50px; /* 128.571% */
        text-transform: uppercase;
      }
      p{
        margin: 15px 0 20px 0;
        color: #000;
        font-family: Roboto-Flex, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px; /* 148% */
        letter-spacing: 0.25px;
        width: 446px;
      }
      button{
        width: 122px;
        height: 39px;
        border: 2px solid #000;
        background: rgba(255, 255, 255, 0);
        color: #000;
        text-align: center;
        font-family: Oswald,sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
  }
  &__userLocation{
    margin: 20px 0;
    p{
      color: var(--Gray-1, #828282);
      font-family: Roboto,sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px; /* 485.714% */
    }
  }

}